.app {
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: header;
}

.header img {
  width: 70px;
}

.nav {
  grid-area: nav;
}

.content {
  grid-area: content;
}

